
.hero-left {
    width: 53%;
}
.hero-right {
    width: 33%;
}
.hero-left h1 {
    font-size: 2.9rem;
    font-style: italic;
}
.hero-left p {
    font-size: 1.15rem;
    color: var(--lightGray);
    margin: 1.5em 0;
}
.hero-right img {
    margin-top: 2rem;
}
